.title-admonition{
  text-align: center;
  font-size: 36px; /* Increased font size */
  font-weight: bold;
  margin-bottom: 20px;
  color: #efeaea;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #008fd4; /* Added background color */
  padding: 10px; /* Added padding */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Added box shadow */
}


.admonitions-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
}

.admonition-card{
  background-color: #8ed2f5;
  border: 3px solid #008fd4;
  padding: 10px 30px;
  margin: 50px 0;
  /* height:80px;  */

}

.admonition-table {
  width: 100%;
  border-collapse: collapse;
}

.admonition-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.student-name {
  font-weight: bold;
}

.status-justification {
  font-style: italic;
}

.responsable-name {
  font-weight: bold;
}

/* ///////////////////////////////////////////////////These are to all admoniton tables///////////////////////////////////////////////) */
.admonitions-table {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 1%;
  border-collapse: collapse;
  background-color: #f5f5f5;
}

.admonitions-table th,
.admonitions-table td {
  border: #3c3c3c 1px solid;
  padding: 12px;
  text-align: left;
}

.admonitions-table thead th {
  background-color: #d60606;
}

.admonitions-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}


.admonitions-table .status-column,
.admonitions-table .responsable-column,
.admonitions-table .student-column,
.admonitions-table .type-column,
.admonitions-table .date-column,
.admonitions-table .action-column {
  font-weight: bold;
  color: white;
}

.admonitions-table .status-cell,
.admonitions-table .responsable-cell,
.admonitions-table .student-cell,
.admonitions-table .type-cell,
.admonitions-table .date-cell,
.admonitions-table .action-cell {
  color: white;
    color: black;
}

/* Agregar estilos interactivos */
.admonition-table tr:hover td {
  background-color: #9b9696;
  cursor: pointer;
}

.admonition-table tr.selected td {
  background-color: #6e6d6d;
}

.admonitions-table tr:hover td {
  background-color: #9b9696;
  cursor: pointer;
}

.admonitions-table tr.selected td {
  background-color: #6e6d6d;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .admonitions-list {
    grid-template-columns: 1fr;
  }
  
  .admonition-card {
    margin: 20px 0;
  }
  
  .admonitions-table {
    width: 100%;
    margin-left: 0;
  }
}
