.body{
    background-color: #eee;
    padding: 90px;
    border-radius: 10px 10px 10px 10px; 
    
}

.chnage-password {
    background-color: #eee;
    border: none;
    padding: 0.25rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    transition: color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.chnage-password:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

.chnage-password:hover:not(:disabled) {
    background: #ffcb05;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}

.chnage-password:disabled {
    cursor: auto;
    color: grey;
}
@media (max-width: 768px) {
    .chnage-password {
        width: 100%;
    }
}
