/* FILEPATH: /c:/Frontend-IntranetFWD/IntranetFWD-FE/frontend_intranet_fwd/src/components/NavBar/Navbar.css */

.navbar {
  background-color: #df2c8e;
  padding: 5px; /* Decreased padding to 5px */
}

.navbar__list {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Changed to center */
  align-items: center;
  margin: 0; /* Add this line to remove default margin */
}

.navbar__item {
  margin-right: auto;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: #ffcc00;
}

.navbar__dropdown {
  position: relative;
  display: inline-block;
}

.navbar__dropdown-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar__dropdown-button:hover {
  color: #ffcc00;
}

.navbar__dropdown-content {
  display: none;
  position: absolute;
  background-color: #003366;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar__dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.navbar__dropdown-content a:hover {
  background-color: #ffcc00;
}

.navbar__dropdown:hover .navbar__dropdown-content {
  display: block;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar__dropdown {
    display: block;
  }

  .navbar__dropdown-content {
    position: static;
    display: none;
    background-color: transparent;
    box-shadow: none;
  }

  .navbar__dropdown:hover .navbar__dropdown-content {
    display: block;
  }

  /* Added responsive styles for dropdown list */
  .navbar__dropdown-list {
    display: none;
    padding-left: 20px;
  }

  .navbar__dropdown:hover .navbar__dropdown-list {
    display: block;
  }
}

/* Logout Styles */
.navbar__logout {
  margin-left: auto; /* Added this block to move logout to the right */
}
