
.user-list, .list-container {
  margin: 20px;
  padding: 20px;
  background-color: #e6e6fa;
  border: 1px solid #dcdcdc;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Divide into two columns */
  gap: 20px; /* Add gap between columns */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.user-component:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.user-id {
  font-weight: bold;
  color: #483d8b; /* Dark Slate Blue */
}

.user-email {
  color: #8b4513; /* Saddle Brown */
}

.user-role {
  color: #2e8b57; /* Sea Green */
}

.user-number {
  color: #483d8b; /* Dark Slate Blue */
}

.user-name {
  color: #8b4513; /* Saddle Brown */
}
/* -----------------------------------------Loader----------------------------------------------------- */

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.slider {
  overflow: hidden;
  background-color: white;
  margin: 0 15px;
  height: 80px;
  width: 20px;
  border-radius: 30px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 30px #fff,
    inset -5px -5px 10px rgba(0, 0, 255, 0.1),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #2697f3,
    inset 0px 0px 0px rgba(0, 0, 0, 0.1);
  animation: animate_2 2.5s ease-in-out infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate_2 {
  0% {
    transform: translateY(250px);
    filter: hue-rotate(0deg);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(250px);
    filter: hue-rotate(180deg);
  }
}
