/* FILEPATH: /c:/Frontend-IntranetFWD/IntranetFWD-FE/frontend_intranet_fwd/src/components/users/index.css */

.user-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Nueva línea */
        gap: 20px;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        color: #000000;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.list-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
}
.user-list-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #000000;
}
.user-list-item {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide into two columns */
    gap: 20px; /* Add gap between columns */
}
.user-component {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    max-height: 400px;
    width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.user-component:hover {
    transform: scale(1.05);
}

.user-id {
    font-weight: bold;
    color: #000000;
}

.user-email {
    color: #666666;
}

.user-role {
    color: #999999;
}

.user-number {
    color: #666666;
}

.user-name {
    color: #666666; 
    }
 /* -----------------------------------------Loader----------------------------------------------------- */
 .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.slider {
    overflow: hidden;
    background-color: white;
    margin: 0 15px;
    height: 80px;
    width: 20px;
    border-radius: 30px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 30px #fff,
        inset -5px -5px 10px rgba(0, 0, 255, 0.1),
        inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #2697f3,
    inset 0px 0px 0px rgba(0, 0, 0, 0.1);
  animation: animate_2 2.5s ease-in-out infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate_2 {
  0% {
    transform: translateY(250px);
    filter: hue-rotate(0deg);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(250px);
    filter: hue-rotate(180deg);
  }
}
