.update-communication-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.update-communication-form__title {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
}

.update-communication-form__content {
    width: 300px;
    height: 150px;
    margin-bottom: 10px;
    padding: 5px;
}

.update-communication-form__button {
    width: 100px;
    height: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-communication-form__button:hover {
    background-color: #0056b3;
}