.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    background-color: #ebe9e9;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.arrow{
    width: 80px;
    height: 80px;
    margin: 0%;
}


.footer-info {
    flex: 1;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-info p {
    font-size: 14px;
    color: #666;
}

@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }
    
    .footer-info {
        flex: none;
    }
    
    .contact {
        flex-direction: column;
        align-items: flex-start;
    }
}