.title-justifications{
    text-align: center;
    font-size: 36px; /* Increased font size */
    font-weight: bold;
    margin-bottom: 20px;
    color: #efeaea;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #f7901e; /* Updated background color */
    padding: 10px; /* Added padding */
    border-radius: 5px; /* Added border radius */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Added box shadow */
}

.justifications-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: none;
  }
  
  .justifications-card{
    background-color: #8ed2f5;
  border: 3px solid #008fd4;
    padding: 10px 30px;
    margin: 50px 0;
    /* height:80px;  */
  
  }

  .justifications-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .justifications-table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .student-name {
    font-weight: bold;
  }
  
  .status-justifications {
    font-style: italic;
  }
  
  .responsable-name {
    font-weight: bold;
  }
  
  /* Agregar estilos interactivos */
  .justifications-table td:hover {
    background-color: #fd6cd9;
    cursor: pointer;
  }
  
  .justifications-table td.selected {
    background-color: #e0e0e0;
  }
  
  
  .title-justifications {
    text-align: center;
    font-size: 36px; /* Increased font size */
    font-weight: bold;
    margin-bottom: 20px;
    color: #efeaea;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #008fd4; /* Added background color */
    padding: 10px; /* Added padding */
    border-radius: 5px; /* Added border radius */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Added box shadow */
  }
  
  .justifications-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #c888e8;
    color: white;
  }
  
  .justifications-table th,
  .justifications-table td {
    padding: 12px;
    text-align: left;
  }
  
  .justifications-table thead th {
    background-color: #662d91;
    color: white;
  }
  
  .justifications-table tbody tr:nth-child(even) {
    background-color: #d1abf9;
  }
  
  
  .justifications-table .status-column,
  .justifications-table .responsable-column,
  .justifications-table .student-column,
  .justifications-table .type-column,
  .justifications-table .date-column,
  .justifications-table .action-column {
    font-weight: bold;
  }
  
  .justifications-table .status-cell,
  .justifications-table .responsable-cell,
  .justifications-table .student-cell,
  .justifications-table .type-cell,
  .justifications-table .date-cell,
  .justifications-table .action-cell {
    color: white;
  }
  