.justification-list{
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  gap: 10px;
}



.justification-card{
  border: 1px black solid;
  width: 80%;
  display: inline-block;

}


.btns-communications {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.btns-communications button {
  margin-left: 8px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.slider {
  width: 20px;
  height: 20px;
  background-color: #333333;
  margin: 0 4px;
  animation: slide 1s infinite ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 