.title-justifications{
    text-align: center;
    font-size: 36px; /* Increased font size */
    font-weight: bold;
    margin-bottom: 20px;
    color: #efeaea;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #f7901e; /* Updated background color */
    padding: 10px; /* Added padding */
    border-radius: 5px; /* Added border radius */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Added box shadow */
}

.justifications-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: none;
  }
  
  .justifications-card{
    background-color: #8ed2f5;
  border: 3px solid #008fd4;
    padding: 10px 30px;
    margin: 50px 0;
    /* height:80px;  */
  
  }

  .justifications-table {
    width: 96%;
    margin-left: 2%;
    margin-bottom: 1%;
    border-collapse: collapse;
    background-color: #f5f5f5;
  }
  
  .justifications-table th,
  .justifications-table td {
    border: #3c3c3c 1px solid;
    padding: 12px;
    text-align: left;
  }
  
  .justifications-table thead th {
    background-color: #d60606;
  }
  
  .justifications-table tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  
  .justifications-table .status-column,
  .justifications-table .responsable-column,
  .justifications-table .student-column,
  .justifications-table .type-column,
  .justifications-table .date-column,
  .justifications-table .action-column {
    font-weight: bold;
    color: white;
  }
  
  .justifications-table .status-cell,
  .justifications-table .responsable-cell,
  .justifications-table .student-cell,
  .justifications-table .type-cell,
  .justifications-table .date-cell,
  .justifications-table .action-cell {
    color: white;
      color: black;
  }
  
  /* Agregar estilos interactivos */
  .admonition-table tr:hover td {
    background-color: #9b9696;
    cursor: pointer;
  }
  
  .admonition-table tr.selected td {
    background-color: #6e6d6d;
  }
  
  .justifications-table tr:hover td {
    background-color: #9b9696;
    cursor: pointer;
  }
  
  .justifications-table tr.selected td {
    background-color: #6e6d6d;
  }
  