.container-documents-div {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide into two columns */
    gap: 20px; /* Add gap between columns */
}

.title-documents{
    text-align: center;
    font-size: 36px; /* Increased font size */
    font-weight: bold;
    margin-bottom: 20px;
    color: #efeaea;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #008fd4; /* Added background color */
    padding: 10px; /* Added padding */
    border-radius: 5px; /* Added border radius */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Added box shadow */
}

.loading {
    /* Estilos para el componente de carga */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
}



.document-card {
    /* Estilos para cada tarjeta de documento */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

.name-document {
    /* Estilos para el nombre del documento */
    font-weight: bold;
}

.Body-document-info {
    /* Estilos para la información del documento */
    margin-top: 5px;
}

.card-footer {
    /* Estilos para el pie de tarjeta */
    margin-top: 10px;
    text-align: right;
}

/* Responsive Styles for Mobile Devices */
@media (max-width: 768px) {
    .container-documents-div {
        grid-template-columns: 1fr; /* Change to single column layout */
    }

    .title {
        font-size: 20px;
    }

    .document-card {
        padding: 5px;
    }

    .card-footer {
        text-align: left;
    }
}

/* Keyframe Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
