body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c5e8e8;
}

.container {
  background-color: #4b888b;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 5px solid ;
  height: 350px;
}
  
  
